// COLOURS

$white: #ffffff;
$black: #000000;
$grey-800: #444444;
$grey-500: #a0a0a0;
$grey-200: #d8d8d8;
$grey-100: #efefef;
$grey-50: #fafafa;

// SPACING

$sp-100: 0.5rem;
$sp-200: 1rem;
$sp-300: 1.5rem;
$sp-400: 2rem;
$sp-500: 2.5rem;
$sp-600: 3rem;
$sp-700: 3.5rem;
$sp-750: 3.75rem;
$sp-800: 4rem;

$sp-1000: 5rem;