@use "../../sass/base" as b;
@use "../../sass/mixins" as mx;

.hero {
  display: grid;
  grid-template-areas:
    "image"
    "text";

  @include mx.for-desktop-up {
    grid-template-areas: "image text";
    grid-template-columns: 60vw 40vw;
  }
}

.hero-img {
  grid-area: image;
  width: 100%;
  transform: translate(0, 0);
  transition: all 750ms ease-out;

  @include mx.for-desktop-up {
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
}

.hero-text {
  padding: b.$sp-800 b.$sp-400;
  grid-area: text;
  transform: translate(0, 0);
  transition: all 750ms ease-out;

  @include mx.for-tablet-portrait-up {
    padding-inline: b.$sp-800;
  }

  @include mx.for-desktop-up {
    grid-row: 1 / 2;
    top: 0;
    padding: 8.75rem 6.25rem;
  }

  h1 {
    @include mx.txt-prst-2;
    color: b.$black;

    @include mx.for-tablet-portrait-up {
      @include mx.txt-prst-1;
    }
  }

  p {
    @include mx.txt-prst-3-md;
    color: b.$grey-500;
    margin-block: b.$sp-200 b.$sp-300;
  }
}

// TRANSITIONS

.slide-left {
  transform: translate(-100%, 0);
}
.slide-up {
  transform: translate(0, -100%);
}
.slide-right {
  transform: translate(100%, 0);
}

@media (prefers-reduced-motion: reduce) {
  .hero-img,
  .hero-text {
    transition: none;
  }
}
