@use "../../sass/base" as b;
@use "../../sass/mixins" as mx;

.carousel-btns {
  display: flex;
  grid-area: image;
  place-self: end end;
  right: 0;
  z-index: 2;

  @include mx.for-desktop-up {
    cursor: pointer;
    transform: translateX(100%);
  }

  button {
    background-color: b.$black;
    width: b.$sp-700;
    height: b.$sp-700;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mx.for-tablet-portrait-up {
      width: b.$sp-1000;
      height: b.$sp-1000;
    }
  }

  @include mx.for-desktop-up {
    button:hover {
      background-color: b.$grey-800;
      cursor: pointer;
    }
  }
}
