@use "../../sass/base" as b;
@use "../../sass/mixins" as mx;

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: clamp(3rem, 2.6479rem + 1.5023vw, 4rem)
    clamp(1.5rem, 0.6197rem + 3.7559vw, 4rem);

  @include mx.for-desktop-up {
    display: flex;
  }

  button {
    background-color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
    display: inline;
  }

  .logo {
    display: inline;
    position: relative;
    left: 50%;
    transform: translateX(-100%);

    @include mx.for-desktop-up {
      position: static;
      transform: translateX(0);
      display: inline;
      margin-inline-end: b.$sp-700;
    }
  }

  .menu-toggle {
    @include mx.for-desktop-up {
      display: none;
    }
  }

  .nav-drawer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    gap: b.$sp-200;
    align-items: center;
    background-color: white;
    position: absolute;
    padding: clamp(3rem, 2.6479rem + 1.5023vw, 4rem)
      clamp(1.5rem, 0.6197rem + 3.7559vw, 4rem);
    z-index: 50;
    transform: translateY(-100%);
    transition: transform 500ms ease-out;

    @include mx.for-desktop-up {
      transform: translateY(0);
      background-color: transparent;
      position: static;
      display: inline;
      padding: 0;
    }

    nav {
      width: fit-content;
      ul {
        display: flex;
        flex-direction: row;
        gap: clamp(1.5rem, -1.4091rem + 14.5455vw, 2rem);
        list-style: none;
        padding: 0;
        @include mx.txt-prst-3-sb;
        width: fit-content;

        li {
          a {
            text-decoration: none;
            color: black;
            position: relative;

            @include mx.for-desktop-up {
              color: white;
            }
          }
          a:focus-visible {
            outline-offset: 5px;
            outline-color: b.$black;
            outline-width: 2px;
          }
          a::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 50%;
            background-color: white;
            left: 25%;
            bottom: -6px;
            transform: scaleX(0);
            transition: transform 250ms linear;
          }

          a:hover:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .nav-drawer.show-menu {
    transform: translateY(0);
  }
}

.bkground-mask {
  opacity: 0;
  background-color: black;
  z-index: -100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 500ms ease-in;
}

.bkground-mask.show {
  opacity: 0.5;
  z-index: 25;
}
